# secrets
.env

# python
__pycache__/
*.pyc
.venv/
venv/

# logs
logs/
*.log

# dbt
weather_dbt/target/
weather_dbt/logs/
weather_dbt/.user.yml
weather_dbt/dbt_packages/

# OS/editor
.DS_Store
.vscode/
